<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Tech:</h3>

    <form class="form new-tech-form">
      <div class="form-group">
        <label for="tech-name">tech name:</label>
        <input class="form-input" type="text" id="tech-name" name="tech-name" />
      </div>
      {{!-- <div class="form-group">
        <label for="tech-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="tech-funding" name="tech-funding" />
      </div> --}}
      <div class="form-group">
        <label for="tech-desc">description:</label>
        <textarea class="form-input" id="tech-desc" name="tech-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if techs.length}}
  <div class="col-md-6 tech-list">
    <h3>Current Techs:</h3>

    {{#each techs as |tech|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/tech/{{tech.id}}">{{tech.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{tech.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
